server {
    listen 80;
    server_tokens off;

    location / {
        root /usr/share/nginx/html;
        index index.html index.htm;
        try_files ${DOLLAR}uri ${DOLLAR}uri/ /index.html;
    }

    location ~ /(api|w|./w)/ {
        proxy_pass http://backend:8080;
        proxy_set_header Host ${DOLLAR}host;
        proxy_set_header X-Real-IP ${DOLLAR}remote_addr;
    }
}
